<div class="main-content">
    <div class="image">
        <div (click)="closeModalhome()" class="close-info">
            &#10005;
        </div>
        <img src="../../assets/ucarecdn.webp" alt="">
    </div>
    <div class="content-body">
        <div class="title">
            Stop rainforests & wildlife from disappearing.
        </div>
        <div class="title-info">
            Every dollar makes a difference. Your donation goes directly to stopping illegal deforestation and monitoring wildlife to inform conservation efforts around the world. YOU can help create a brighter future, today.
        </div>
        <div class="action">
            Donate
        </div>
    </div>
</div>