<div class="main-content">
    <div class="title">
        rfcx in the news
    </div>
    <div class="title-info">
        For Press Inquiries Contact: <a href="">contact@rfcx.org</a>
    </div>
    <router-outlet></router-outlet>
    <div class="numbers">
        <a routerLink="1" routerLinkActive="activePage">1</a>
        <a routerLink="2" routerLinkActive="activePage">2</a>
        <a routerLink="3" routerLinkActive="activePage">3</a>
        <a routerLink="4" routerLinkActive="activePage">4</a>
        <a routerLink="5" routerLinkActive="activePage">5</a>
        <a routerLink="6" routerLinkActive="activePage">6</a>
    </div>
</div>
<app-subscribe></app-subscribe>