<div class="main-content">
    <div class="title">
        connect with a global movement - and help change our world.
    </div>
    <div class="title-info">
        Climate change is the biggest collective challenge we face in our lifetimes. Isn’t it time we worked together
        not only to lessen its effects – but to actually stop it from happening? If that sounds like an ambitious goal,
        well, it is. But we believe it’s the only way if we want to keep our planet healthy into the next century – and
        long beyond.
    </div>
    <div class="title-img">
        <img src="../../assets/get-involved-banner-1.jpg" alt="">
    </div>
    <div class="partner row">
        <div class="pat-action col-6">
            <div class="con">
                let's work together
            </div>
        </div>
        <div class="pat-info col-6">
            <div class="pat-head">
                Partner with us
            </div>
            <div class="pat-head-info">
                Together we can make a direct impact in better understanding, preserving, and protecting our natural
                world.
            </div>
        </div>
    </div>
    <div class="partner row">
        <div class="pat-info col-6">
            <div class="pat-head">
                Donate to Rainforest Connection
            </div>
            <div class="pat-head-info">
                Every contribution increases our ability to help others monitor rainforests and wilderness areas using
                our bio-acoustic technology.
            </div>
        </div>
        <div class="pat-action col-6">
            <div class="con">
                donate
            </div>
        </div>
    </div>
    <div class="real-time row">
        <div class="real-img col-6">
            <img src="../../assets/app_phone.png" alt="">
        </div>
        <div class="real-info col-6">
            <div class="real-head">
                Ever wanted to hear a rainforest in real-time?
            </div>
            <div class="para">
                Download our free app to listen to the sounds of rainforests all over the world.
            </div>
            <div class="para">
                Immerse yourself in the tropical rains of Ecuador, the chatter of endangered wildlife in Costa Rica,
                peaceful mornings in the jungles of Peru, and so much more
            </div>
            <div class="real-action">
                <img src="../../assets/ios.png" alt="">
                <img src="../../assets/android.png" alt="">
            </div>
        </div>
    </div>
    <div class="normal-info">
        <div class="con">
            If you have other ideas on how to help – or if you have a project you’re looking for assistance on – feel
            free to contact us, anytime, at <a href="">
                contact@rfcx.org
            </a>
        </div>

    </div>
    <div class="end-img">
        <div class="end-info">
            THANK YOU FOR SUPPORTING RAINFORESTS AND RFCx!
        </div>
        <img src="../../assets/get-involved-banner-2.jpg" alt="">
    </div>
</div>
<app-subscribe></app-subscribe>