<div class="maincontent">
    <div class="title">
        biodiversity monitoring
    </div>
    <div class="title-info">
        Rainforest Connection is dedicated to supporting the bioacoustics & ecoacoustics communities with tools and
        technology to increase your overall impact in the conservation space.
    </div>
    <div class="title-img">
        <img src="../../assets/yellow-toucan.jpg" alt="">
    </div>
    <div class="rainforest row">
        <div class="rain-block col-6">
            <div class="rain-title">
                Rainforest Connection® Arbimon
            </div>
            <div class="rain-info">
                With the recent launch of Arbimon you can now upload and analyze an unlimited amount of audio from your
                AudioMoth and other devices.
            </div>
            <div class="rain-action">
                get started now
            </div>
        </div>
        <div class="rain-block col-6">
            <img src="../../assets/arbimon2.png" alt="">
        </div>
        <div class="rain-block col-6">
            <img src="../../assets/arbimon1.png" alt="">
        </div>
        <div class="rain-block includes col-6">
            Includes:
            <ul>
                <li>
                    Visualizer - an intuitive viewer to review spectrograms, listen to recordings, and annotate audio.
                </li>
                <li>
                    Soundscapes - aggregate recordings at different temporal and spatial scales.
                </li>
                <li>
                    Pattern matching species identification - automatically search your audio library for a matching
                    spectrogram.
                </li>
                <li>
                    Data organization - create playlists by site, time of day, detected species, soundscapes, and tags.
                </li>
            </ul>
        </div>
    </div>
    <div class="companion row">
        <div class="companion-img col-6">
            <img src="../../assets/companion-audiomoth.png" alt="">
        </div>
        <div class="companion-info col-6" style="padding: 0;">
            <div class="com-title">
                Rainforest Connection® Companion
            </div>
            <div class="com-disc">
                Deploying AudioMoths in the field? Use the Companion to simplify the management of multiple devices. 
            </div>
            <div class="comul">
                <ul>
                    <li>
                        Manage, track and deploy <a href="">AudioMoths</a> from your Android phone
                    </li>
                    <li>
                        Recordings will be automatically linked to deployment geo-location (using Uploader)
                    </li>
                    <li>
                        Attach photos to your device deployment location to mark where you left it
                    </li>
                </ul>
            </div>
            <div class="com-action">
                <img src="../../assets/android.png" alt="">
            </div>
        </div>
    </div>
    <div class="companion row">
        <div class="companion-info col-6">
            <div class="com-title">
                Rainforest Connection® Uploader
            </div>
            <div class="com-disc">
                A desktop tool for uploading to Arbimon. 
            </div>
            <div class="comul">
                <ul>
                    <li>
                        Auto-detect file timestamp formats - supports commonly used bioacoustic devices (SongMeter, AudioMoth, Swift and others)
                    </li>
                    <li>
                        Background uploading - continue to do analysis in Arbimon while uploading in the background
                    </li>
                    <li>
                        Resumable - take a break from uploading and resume at a later time without losing a recording
                    </li>
                </ul>
            </div>
            <div class="com-action">
                <a href="">windows</a>
                <a href="">macos</a>
            </div>
        </div>
        <div class="companion-img col-6" style="padding-top: 50px;">
            <img src="../../assets/uploader.png" alt="">
        </div>
    </div>
    <div class="support-center">
        <div class="disc">
            Need help getting started? Visit our support site.
        </div>
        <div class="action">
            <a href="">
            support center</a>
        </div>
    </div>
    <div class="dev-tools">
        <div class="tool-head">
            Rainforest Connection® Software Development Tools
        </div>
        <div class="info">
            Designed for scientists to connect with the Rainforest Connection platform to build their own ecoacoustic tools for protection and conservation.
        </div>
        <div class="action">
            <a href="">
                python sdk
            </a>
        </div>
    </div>
</div>
<app-subscribe></app-subscribe>