<div class="body-content">
    <div class="block">
        <div class="blo-title">
            <a #link href="">
                Phys.Org: Low-cost microphones could be used to help track infectious disease risks in the wild
            </a>
        </div>
        <div class="date">
            February 27, 2023
        </div>
        <div class="block-body row">
            <div class="img col-5">
                <img src="../../assets/press1.png" alt="">
            </div>
            <div class="img-info col-7">
                Researchers have shown how sounds recorded by low-cost microphones could be used to help track
                infectious disease risks in the rainforest and in other rapidly changing landscapes. The
                study—published in Trends in Parasitology and led by the University of Glasgow—discusses how
                listening to the sounds of an ecosystem can inform our understanding of factors that drive the
                spread of disease between animals and people.The findings are the result of a partnership between
                researchers from the University of Glasgow, Danau Girang Field Center in Malaysia and Rainforest
                Connection, an NGO which uses sound recording to monitor endangered species and send real-time
                alerts to prevent poaching and illegal logging in the rainforests. <br>
                <a [routerLink]='link.innerText'>
                    Read more
                </a>
                <!-- <a href="">
                    Read more
                </a> -->
            </div>
        </div>
    </div>
    <div class="block">
        <div class="blo-title">
            <a href="">
                Huawei Blog: Protecting Italy’s Oasis of Biodiversity
            </a>
        </div>
        <div class="date">
            February 27, 2023
        </div>
        <div class="block-body row">
            <div class="img col-5">
                <img src="../../assets/press2.jpg" alt="">
            </div>
            <div class="img-info col-7">
                Alongside Huawei & WWF Italy, this TECH4ALL project covering three ‘Oasis’ sites in Italy, aims to
                study biodiversity and protect natural habitats by preventing illegal activities such as poaching.
                Together we are enabling a comprehensive understanding of the biodiversity present, with ‘Guardian’
                installation sites chosen to detect illegal activities and monitor biodiversity. To date, the Italy
                project has collected 272,452 recordings from 72 sites in our Arbimon platform. <br>
                <a href="">
                    Read more
                </a>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="blo-title">
            <a href="">
                Huawei Blog: Safeguarding Biodiversity in Mexico
            </a>
        </div>
        <div class="date">
            February 27, 2023
        </div>
        <div class="block-body row">
            <div class="img col-5">
                <img src="../../assets/press3.jpg" alt="">
            </div>
            <div class="img-info col-7">
                Alongside Huawei, this TECH4ALL project in Mexico is working to protect biodiversity in Mexico’s
                Dzilam State Reserve in Yucatan. Dzilam State Reserve hosts a rich diversity of habitats and is home
                to some of Mexico’s endemic and threatened species. Due to human activities and climate change, the
                local ecosystem is in decline. The jaguar (Panthera onca) is perhaps the most famous species that
                occurs in the area — it is rare and near-threatened according to the IUCN. The goal is to increase
                the protection of this species, and others in the area. Read more about what we’re doing in this
                reserve and listen to species we’re monitoring right now like the Yucatan Woodpecker, Yucatan Jay,
                and Black-headed Trogen! <br>
                <a href="">
                    Read more
                </a>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="blo-title">
            <a href="">
                Huawei Blog: Protecting Malaysia’s Sarawak Rainforest with Technology
            </a>
        </div>
        <div class="date">
            February 27, 2023
        </div>
        <div class="block-body row">
            <div class="img col-5">
                <img src="../../assets/press4.jpg" alt="">
            </div>
            <div class="img-info col-7">
                Alongside Huawei, this TECH4ALL project in Malaysia is working to protect biodiversity in Malaysia’s
                Sarawak Rainforest by preventing illegal logging and monitoring their wildlife to better inform
                conservation efforts. The Malaysia project currently has 874,256 recordings from 7 sites uploaded to
                Arbimon. The combination of manual validation and pattern matching models has detected 79 species
                (28 of them categorized as threatened in the IUCN Red List). Learn more about our work in this area
                and listen to species like the Red Throated-Barbet, the Black Hornbill, and the Bold-striped
                tit-babbler that are being monitored right now! <br>
                <a href="">
                    Read more
                </a>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="blo-title">
            <a href="">
                Footprint Coalition: Meet the startups developing solutions for the world’s extinction crisis
            </a>
        </div>
        <div class="date">
            February 27, 2023
        </div>
        <div class="block-body row">
            <div class="img col-5">
                <img src="../../assets/press5.jpg" alt="">
            </div>
            <div class="img-info col-7">
                Late last year, 150 financial institutions responsible for $24 trillion worth of assets called on
                world leaders to adopt an ambitious framework to combat the world’s ongoing, massive extinction
                crisis. Some targets set at COP15 have been criticized as idealistic, but three startups are
                “starting the impossible” with one seed, whale, and rainforest at a time. Read about how Rainforest
                Connection is “starting the impossible” and how the job of protecting rainforests is necessary when
                addressing the 6th mass extinction. <br>
                <a href="">
                    Read more
                </a>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="blo-title">
            <a href="">
                Infineon: Protecting the rainforest with modern technology: Infineon Technologies and Rainforest
                Connection use sensor technology to protect vulnerable regions
            </a>
        </div>
        <div class="date">
            February 27, 2023
        </div>
        <div class="block-body row">
            <div class="img col-5">
                <img src="../../assets/press6.jpg" alt="">
            </div>
            <div class="img-info col-7">
                The preservation of rainforests is crucial to prevent climate change. However, illegal deforestation
                and wildfires threaten the most vulnerable areas of our planet. Infineon Technologies AG (FSE: IFX /
                OTCQX: IFNNY) is extending its collaboration with the NGO Rainforest Connection (RFCx). The partners
                pursue the common goal of monitoring the vulnerable regions of our earth with modern sensor
                technology. So that the monitoring technology can not only “hear” but “smell”, both partners are
                collaborating to equip a number of Guardian devices with Infineon’s XENSIV™ PAS CO2 sensor to
                increase the protection potential! <br>
                <a href="">
                    Read more
                </a>
            </div>
        </div>
    </div>
</div>