<div class="main-content">
    <div class="firstset">
        <div class="firstset-block one">
            <div class="protect">
                <div class="protect-info">
                    92
                </div>
                <img src="../../assets/protect-shield.svg" alt="">
            </div>
            <div class="protect-disc">
                Protected reserves
            </div>
        </div>
        <div class="firstset-block two">
            <div class="countries">
                <div class="count-info">
                    <div class="count-num">
                        32
                    </div>
                    <div class="count-count">
                        countries
                    </div>
                    <div class="count-date">
                        to-date
                    </div>
                </div>
                <img src="../../assets/worldglobe.png" alt="">
            </div>
        </div>
        <div class="firstset-block three">
            <div class="num">
                391,300+
            </div>
            <div class="info">
                Hectares monitored
            </div>
        </div>
    </div>
    <div class="secondset">
        <div class="secondset-block one">
            <img src="../../assets/tree-icon-row.svg" alt="">
        </div>
        <div class="secondset-block two">
            <div class="normal">
                Equating to more than
            </div>
            <div class="num">
                966,900
            </div>
            <div class="normal">
                acres of land
            </div>
        </div>
    </div>
    <div class="thirdset">
        <div class="thirdset-block one">
            <div class="cnt">
                599
            </div>
            <div class="normal">
                Guardians
            </div>
            <div class="normal">
                deployed
            </div>
        </div>
        <div class="thirdset-block two">
            <img src="../../assets/trees-green-guardian.svg" alt="">
        </div>
    </div>
    <div class="setfour">
        <div class="block1">
            Objectives & Approach
        </div>
        <div class="block2">
            Biodiversity Monitoring & Threat Detection
        </div>
    </div>
    <div class="setfive">
        <div class="blocks-five row">
            <div class="single-blocks col-2">
                <img src="../../assets/detect.svg" alt="">
                <div class="block-info">
                    Detect
                </div>
            </div>
            <div class="single-blocks col-2">

                <img src="../../assets/collect.svg" alt="">
                <div class="block-info">
                    Collect
                </div>
            </div>
            <div class="single-blocks col-2">
                <img src="../../assets/classify.svg" alt="">
                <div class="block-info">
                    Classify
                </div>
            </div>
            <div class="single-blocks col-2">
                <img src="../../assets/analyze.svg" alt="">
                <div class="block-info">
                    Analyze
                </div>
            </div>
            <div class="single-blocks col-2">
                <img src="../../assets/alert.svg" alt="">
                <div class="block-info">
                    Alert
                </div>
            </div>
            <div class="single-blocks col-2">
                <img src="../../assets/protect.svg" alt="">
                <div class="block-info">
                    Protect
                </div>
            </div>
        </div>
    </div>
    <div class="setsix">
        <div class="six-blocks one">
            <div class="image">
                <div class="image-info text-light">
                    2,900+
                </div>
                <img src="../../assets/classify-circle.svg" alt="">
            </div>
            <div class="block-info">
                Species classified for automatic detection
            </div>
        </div>
        <div class="six-blocks two">
            <div class="image">
                <div class="image-info">
                    151
                </div>
                <img src="../../assets/bird.svg" alt="">
            </div>
            <div class="block-info">
                Endangered species acoustic signatures found
            </div>
        </div>
        <div class="six-blocks three">
            <div class="image">
                <div class="image-info">
                    600+
                </div>
                <img src="../../assets/earth-clouds.svg" alt="">
            </div>
            <div class="block-info">
                Species automatically detectable in real time
            </div>
        </div>
    </div>
    <div class="setseven">
        <div class="one">
            More than
        </div>
        <div class="two">
            82 million
        </div>
        <div class="three">minutes of audio data collected</div>
    </div>
</div>