<div class="impact">
    <div class="com-title">
        OUR IMPACT
    </div>
    <div class="com-title-info">
        Thanks to our amazing supporters, partners, and funders, our mission is more than just words on a piece of
        paper. Our impact today means a better tomorrow. See the difference our work is creating around the world, and
        join us in helping to protect and preserve our planet's natural resources and biodiversity for generations to
        come.
    </div>
    <div class="impact-img">
        <img src="../../assets/impactforest.jpg" alt="">
    </div>
    <app-impact-info></app-impact-info>
    <div class="end-img">
        <div class="end-img-info">
            <div class="head1">
                the future of our planet depends on our actions today
            </div>
            <div class="head2">
                <a href="">
                    GET INVOLVED
                </a>
            </div>
        </div>
        <img src="../../assets/bottom-banner.jpg" alt="">
    </div>
</div>
<app-subscribe></app-subscribe>