<div class="main-content">
    <div class="title">
        guardian platform
    </div>
    <div class="title-info">
        Our Guardian Platform enables the protection of forests and wildlife from illegal activities, like illegal logging and poaching. Part of this system is the Guardian device, a solar-powered acoustic streaming device that is placed high in tree-top canopies.
    </div>
    <div class="title-img">
        <img src="../../assets/threatimg.jpg" alt="">
    </div>
    <div class="title">
        overview
    </div>
    <div class="overview-info">
        The RFCx Guardian device’s primary purpose is to constantly gather data on the surrounding environment for processing and storage.
    </div>
    <div class="overview-info">
        When connected via GSM, the Guardian device uploads a continuous recording of the surrounding environment’s soundscape, transmitting the audio in real-time to the cloud for instant analysis. When the Guardian is connected via Satellite, on-board analysis of audio is performed and alerts are transmitted in real-time.
    </div>
    <div class="overview-info">
        The data-powered Guardian Platform uses artificial intelligence (AI) and machine learning to deliver rapid insight into what’s happening in vast forest ecosystems, identify potentially harmful behavior, and help on-the-ground rangers pinpoint and stop damaging activities as they occur.
    </div>
    <div class="thr-img">
        <img src="../../assets/thr-detimg.png" alt="">
    </div>
    <div class="title">
        technical specifications
    </div>
    <div class="tec-spe row">
        <div class="tec-img col-6">
            <img src="../../assets/tec-spe-img.jpeg" alt="">
        </div>
        <div class="tec-spe-info col-6">
            Guardians feature a highly sensitive external microphone that captures all ambient sound within a radius of 50 m to 1,500 m depending on the source of the sound.
        </div>
    </div>
    <div class="tec-spe row">
        <div class="tec-spe-info col-6">
            A specialized configuration of solar panels (designed to capitalize on the thin and short-lived bands of sunlight that penetrate tree canopies), on-board power management and LFP battery packs provide power to the Guardians.
        </div>
        <div class="tec-img col-6">
            <img src="../../assets/tec-spe-img2.jpeg" alt="">
        </div>
    </div>
    <div class="tec-spe inblock-dead row">
        <div class="tec-img col-6">
            <img src="../../assets/tec-spe-img3.jpeg" alt="">
        </div>
        <div class="tec-spe-info col-6">
            In addition to GSM and Wi-Fi, the device also comes built-in with Satellite connectivity which enables the device to run onboard audio analysis and transmit alerts in real-time.
        </div>
    </div>
    <div class="unordered-list inblock-dead row">
        <div class="list-block col-6">
            <ul>
                <li>
                    IP66 Weatherproof Enclosure
                </li>
                <li>
                    Mic Sensitivity: -22dB (1 kHz at 1Pa)
                </li>
                <li>
                    Mic Frequency response: 50–18,000Hz
                </li>
                <li>
                    Dual-Core ARM Cortex CPU
                </li>
                <li>
                    ARM Mali GPU
                </li>
                <li>
                    512MB DDR RAM
                </li>
                <li>
                    128 GB Micro SD Storage expandable to 1TB
                </li>
                <li>
                    Wi-Fi, Bluetooth, GPS
                </li>
                <li>
                    GSM: 850/900/1800/1900 / WCDMA: <br> B1/B2/B5/B8 / TD-CDMA / CDMA2000
                </li>
            </ul>
        </div>
        <div class="list-block col-6">
            <ul>
                <li>
                    Built-in satellite communications (SWARM)
                </li>
                <li>
                    On-board Accelerometer to prevent tampering
                </li>
                <li>
                    Solar Panel Array capable of generating up to 30W of power
                </li>
                <li>
                    Two on-board battery with over 50WH of storage capacity
                </li>
                <li>
                    Custom Power board to manage battery charging and power delivery
                </li>
                <li>
                    Custom designed frame to hold solar panel array and protect guardian enclosure from elements
                </li>
                <li>
                    Custom designed aluminum ARM to facilitate mounting of the Guardian
                </li>
            </ul>
        </div>
    </div>
    <div class="end-img">
        <div class="img-info">
            <a href="">LEARN MORE</a>
        </div>
        <img src="../../assets/tec-spe-img4.jpg" alt="">
    </div>
</div>
<app-subscribe></app-subscribe>